body {
    font-family: Dosis, Helvetica, sans-serif;
    font-variation-settings: 'wght' 500;
    margin: 0;
    padding: 0;

    background-color: #292D3E;
    color: #A4BEE6;
}

header {
    background-color: #1b1e2b;
    padding: .5em;
    text-align: center;
}

.navbarItem {
    display: inline;
    padding: 0 0.5em;
    margin: 0;
}

.navbarLink{
    color: #A4BEE6;
    text-decoration: none;
    font-size: 1.4em;
}
.navbarLink:hover{
    color: #89DDFF;
}

ul {
    width: fit-content;
    padding: 0;
}

@font-face {
    font-family: Dosis;
    src: url(fonts/Dosis-VariableFont_wght.ttf);
    font-weight: 1 1000;
}